<footer class= "footer">
	<small>
		<a href="http://baseball-for-life.net/"> Baseball For Life</a>
	</small>
	<nav>
		<ul>
			<li><a href="#">About Me</a></li>
			<li><a href="https://twitter.com/#!/search/realtime/sethbaltshuler" target="_blank" class="twitter-follow-button" data-show-count="false" data-size="large" title="@sethbaltshuler">Follow @twitter</a></li>
			<li><a href="mailto:sethb78@gmail.com">Email Me</a></li>
		</ul>
	</nav>
</footer>