<footer class= "footer">
	<div class= "footer_container">
	<small>
		<a href="http://baseball-for-life.net/"> Baseball For Life</a>
	</small>
	<nav>
		<ul>
			<li><a href="#">About Me</a></li>
			<li><a href="https://twitter.com/#!/search/realtime/sethbaltshuler" target="_blank" class="twitter-follow-button" data-show-count="false" data-size="large" title="@sethbaltshuler">Follow @twitter</a></li>
			<li><a href="mailto:sethb78@gmail.com">Email Me</a></li>
		</ul>
	</nav>
</footer>
<!--
<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   @user %></li>
      <li><%= link_to "Contact", @user %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
  </div>
</footer>-->